## Quiz 1:

How many objects would be created by runing the following code? Code

In [ ]:
class A:
    print("Am I a class?")

A()

obj1 = A()

if A():
    print(A())

Am I a class?
<__main__.A object at 0x78a35987b160>

In [ ]:
class A:
    print("Am I a class?")


obj1 = A()

print(obj1)

Am I a class?
<__main__.A object at 0x78a358a37250>

## Dunders

In [ ]:
class Car:

    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage

    def __str__(self):
      return f"{self.name} -> {self.mileage}"

    def __add__(self, other):
      return self.mileage + other.mileage

    def __lt__(self, other):
        return self.mileage < other.mileage

In [ ]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [ ]:
print(c1)

<__main__.Car object at 0x78a358a37e50>

In [ ]:
print(c1)

This is a good car

In [ ]:
print(Car("Nexon", 12))

This is a good car

In [ ]:
print(c1)

Nexon -> 12

In [ ]:
print(c2)

Altroz -> 15

In [ ]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [ ]:
c1 + c2

27

In [ ]:
## Please explore other dunder methods.

## Inheritance

In [ ]:
class Parent:
  def __init__(self):
    print("parent class")



class Child(Parent): # inheriting parent class
  def __init__(self):
    print("child class")

School Example

In [ ]:
class Schoolmember:

  def __init__(self, name):
    self.name = name


class Student(Schoolmember):

  def __init__(self, name, grade):
    super().__init__(name) #super is a keyword use to refrence the parent class
    self.grade = grade


class Staff(Schoolmember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject

In [ ]:
s1 = Student("Krishna", "A")

type(s1)

__main__.Student

In [ ]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
s1.name

'Krishna'

In [ ]:
class Schoolmember:

  def __init__(self, name):
    self.name = name


class Student(Schoolmember):

  def __init__(self, name, grade):
    super().__init__(name) #super is a keyword use to refrence the parent class
    self.grade = grade


class Staff(Schoolmember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject

In [ ]:
s1 = Student("Sharath", "A")
print(s1.name)

Sharath

In [ ]:
s1.name = "Random"
print(s1.name)

Random

In [ ]:
t1 = Teacher("Bipin", 10, "Python")

t1.name, t1.salary, t1.subject

('Bipin', 10, 'Python')

## Quiz 2

In [ ]:
class A:
    def do_something(self):
        print("I do something!", end=" ")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!", end=" ")

b = B()
b.do_something()

I do something! I also do something!

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance

    def withdrawl(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.__balance

98782372379723972937923273929479374973497973497

In [ ]:
b1.deposit(5000)
b1.balance

15000

In [ ]:
b1.withdrawl(15000)

b1.balance

0

In [ ]:
b1.balance = 98782372379723972937923273929479374973497973497

In [ ]:
b1.balance

98782372379723972937923273929479374973497973497

In [ ]:
## Concept of private variables

In [ ]:
b1.__balance = 98782372379723972937923273929479374973497973497

In [ ]:
class BankAccount:
    def __init__(self, balance):
        # initializing private property
        self.__balance = balance

    # Setter
    def withdraw(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def check_balance(self):
      return self.__balance

In [ ]:
b1 = BankAccount(10000)

# cannot be accessed like this
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.check_balance()

10000

In [ ]:
# Nothing can be completely private in Python.

In [ ]:
# Checking the properties and methods within any object -
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdraw']

In [ ]:
b1._BankAccount__balance

10000

## Muticlass Inheritance

In [ ]:
class A:
    def __init__(self, a):
        self.a = a

class B:
    def __init__(self, b):
        self.b = b

class C(A,B):

  def __init__(self, a,b,c):

    #super().__init__(a,b) #This will not work

    # super().__init__(a) #This will not work
    # super().__init__(b) #This will not work

    A.__init__(self,a)
    B.__init__(self,b)
    self.c = c

In [ ]:
c1 = C(1,2,3)

c1.c

3

In [ ]:
c1.a, c1.b

(1, 2)

MRO (Method Resolution Order)

In [ ]:
class A:
    x = 10

class B(A):
    x = 8

class D(B):
    pass

class C(A):
  x = 5

class E(D,C):
    pass

In [ ]:
e1 = E()

e1.x

8

In [ ]:
# It'll give the method resolution order
E.__mro__

(__main__.E, __main__.D, __main__.B, __main__.C, __main__.A, object)

## Quiz 3

In [ ]:
class A:
  pass
class B:
  pass
class C(A, B):
  pass
class D:
  pass
class E(C, D):
  pass

## Practice Question

In [ ]:
class Animal:

  def __init__(self, species, age, name):
    self.species = species
    self.age = age
    self.name = name


  def __str__(self, species, age, name):
    return f"Name: {self.name}, Species: {self.species}, Age: {self.age}"


class Bird(Animal):

  def __init__(self, species, age, name, can_fly):
    Animal.__init__(self,species, age, name)
    self.can_fly = can_fly


  def __str__(self):
    fly_status = "Yes" if self.can_fly else "No"
    return f"{super().__str__()}, Can Fly: {fly_status}"



class Zoo:

  def __init__(self):
    self.animals = []


  def add_animals(self, animal):
    self.animals.append(animal)


  def list_animals(self):
    for animal in self.animals:
      print(animal)

In [ ]:
class Person:

  def __init__(self, Name):
    self.name = Name             #line x

  def get_person_name(self):
    return self.name


p1=Person("Vishal")

In [ ]:
p1.name

'Vishal'

In [ ]:
p1.get_person_name()

'Vishal'

In [ ]:
def __init__(self, marks1,marks2,credits1, credits2):
  self.marks1 = marks1
  self.marks2 = marks2
  self.credits1 = credits1
  self.credits2 = credits2
       #YOUR CODE GOES HERE

def grade_point_average(self):
  points1 = self.calculate_points(self.marks1)
  points2 = self.calculate_points(self.marks2)
  total_credits = self.credits1 + self.credits2

  if total_credits == 0:
    return -1.0
  else:
    gpa = (points1 * self.credits1 + points2 * self.credits2) / total_credits

    return round(gpa,2)
    # Rounded to two decimal places

def calculate_points(self, marks):

  if marks >= 90:
      return 10
  elif 90 > marks and marks >= 75:
      return 9
  elif 75 > marks and marks >= 60:
      return 8 elif 60 > marks and marks >= 45: return 7 else: return 0