## Nested Class

In [ ]:
class Outer:
    """Outer Class"""

    def __init__(self):
        ## instantiating the 'Inner' class
        self.inner = self.Inner()

    def reveal(self):
        ## calling the 'Inner' class function display
        self.inner.inner_display("Hello")

    class Inner:
        """Inner Class"""

        def inner_display(self, msg):
            print(msg)

In [ ]:
outer = Outer()

In [ ]:
outer.reveal()

Calling Inner class function from Outer class

In [ ]:
Outer().Inner().inner_display("Hellow")

AttributeError: 'Inner' object has no attribute 'msg'

In [ ]:
# Car and Engine


class Car:

  class Engine

## Functional Programming

In [ ]:
numbers = [1, 2, 3, 4]
squared_numbers = []
for num in numbers:
    squared_numbers.append(num*num)

In [ ]:
squared_numbers

[1, 4, 9, 16]

### Map function

In [ ]:
numbers = [1, 2, 3, 4]

def square_num(num):

  return num * num


tuple(map(square_num,numbers))

(1, 4, 9, 16)

## lambda function

In [ ]:
numbers = [1, 2, 3, 4] #inplace is a state update

stored_value = list(map(lambda b: b*b ,numbers))

# They donot require state update.

[1, 4, 9, 16]

Why use functional programming?

1) Concise and Readble
2) More maintainable
3) Efficient

## lambda Function

In [ ]:
# function_name = lambda arguments: expression

In [ ]:
def cube(x):

  return x ** 3

cube(3)

27

In [ ]:
(lambda x : x**3)(3) # It doesn't have any name

27

## Adding two numbers using lambda

In [ ]:
(lambda x,y: x + y)(5,4)

9

In [ ]:
sum_two = lambda x,y: x + y
sum_two(5,4)

9

if the number is greater than 4 then 1 else 0

In [ ]:
s = 'hello'

count = 0
for i in s:
  count += 1

count

5

In [ ]:
gt = lambda x : 1 if int(x) > 4 else 0

gt("20")

1

In [ ]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]

In [ ]:
students[0]['marks']

50

In [ ]:
students[1]['marks']

100

In [ ]:
## Compare two student marks

In [ ]:
students[0]['marks'] > students[1]['marks']

False

In [ ]:
get_value = lambda x : x['marks']

In [ ]:
get_value(students[0])

50

In [ ]:
get_value(students[1])

100

In [ ]:
get_value(students[0]) > get_value(students[1])

False

## How to sort a dictionary? by key or value

In [ ]:
students

[{'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 100},
 {'name': 'C', 'marks': 40},
 {'name': 'D', 'marks': 70},
 {'name': 'E', 'marks': 60}]

In [ ]:
sorted(students, key = lambda x: x['name'], reverse = True)

[{'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'C', 'marks': 40},
 {'name': 'B', 'marks': 100},
 {'name': 'A', 'marks': 50}]

In [ ]:
sorted(students, key = lambda x: x['marks'], reverse = True)

[{'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 70},
 {'name': 'E', 'marks': 60},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

In [ ]:
# sort vs sorted


a = [1,2,3,4]

a.sort() # inplace operation

a

[1, 2, 3, 4]

In [ ]:
a = [1,5,3,4]

sorted(a) # not inplace

[1, 3, 4, 5]

In [ ]:
a

[1, 5, 3, 4]

## Higher order functions

In [ ]:
# y = f(x)

# y = x (Linear function)

# y = x**2 (2nd degree function)

In [ ]:
# It's a function inside a function / nested function

In [ ]:
def gen_exp(n):

  def exp(x):
    return x ** n

  def exp_again(y):
    return y ** n

  return exp,exp_again

In [ ]:
exp_3 = gen_exp(3)

In [ ]:
type(exp_3)

function

In [ ]:
exp_3(3)

27

In [ ]:
exp_3, exp_again_3 = gen_exp(3)

In [ ]:
exp_again_3(4)

64

Consider the following scenario: You want to generate a function that can calculate the square of any number. How can you achieve this using a higher order function?

In [ ]:
def generate_square_function():

  def square(x):
    return x ** 2

  return square

In [ ]:
cal_sq = generate_square_function()

cal_sq(5)

25

## Decorators

In [ ]:
def foo():
    print("Hello everyone! How are you doing?")

In [ ]:
foo()

Hello everyone! How are you doing?

In [ ]:
def poo():
    print("-"*50) # code that runs before
    print("Hello everyone! How are you doing?")
    print("-"*50) # code that runs after

poo()

--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
# All 10,000 funcs

In [ ]:
def pretty(func):

    def inner():
        print("-"*50)
        func()
        print("-"*50)

    return inner

In [ ]:
@pretty
def soo():
    print("This is amazing!!!")


@pretty
def foo():
    print("Hello everyone! How are you doing?")


soo()
foo()

--------------------------------------------------
This is amazing!!!
--------------------------------------------------
--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
new_foo = pretty(foo)

new_foo()

--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
def foo():
    print("Hello everyone! How are you doing?")

foo()

Hello everyone! How are you doing?

In [ ]:
# SOLID

In [ ]:
1) vowel_count = sum(1 for char in self.string if char in vowels) # sdhjsdhh

#sdklskdlksldk
2)for char in self.string:
  if char in vowels:
     vowel_count += 1
     print(vowel_count)


Both means same sir ? if yes then which one shoul we use in our code...?