In [ ]:
x = 5

def mutation_1(x):
    x = 2*x
    x += 1

    return x

x1 = mutation_1(x)
print(x, x1)

5 11

## Map function

In [ ]:
a = [1,2,3,4,5]

### Traditional looping way

In [ ]:
res = []
for items in a:
  res.append(items * items)

print(res)

[1, 4, 9, 16, 25]

### List comprehension method

In [ ]:
res = [items * items for items in a]
res

[1, 4, 9, 16, 25]

### Using map function

In [ ]:
## Using function method

a = [1,2,3,4,5]

def square_num(n):
  return n * n


list(map(square_num, a))

[1, 4, 9, 16, 25]

In [ ]:
## Using lambda function

list(map(lambda x: x*x, a))

[1, 4, 9, 16, 25]

Convert the given heights from a list into to t-shirt sizes.

- h < 150 --> S
- h >= 150 and h < 180 --> M
- h>=180 --> L

In [ ]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [ ]:
def complex_logic(height):
   if height < 150:
        return "S"
   elif height >= 150 and height < 180:
        return "M"
   elif height > 180:
        return "L"

In [ ]:
list(map(complex_logic, heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
sizes_2 = list(map(lambda x: "S" if x < 150 else "M" if x >= 150 and x < 180 else "L", heights))
sizes_2

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
if x < 150:
  return "S"
else:
  if x >= 150 and x < 180:
    return "M"
  else:
    return "L"

## Lets say you have to compare two list and check the differences

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# res = [False, True.....]

In [ ]:
## Simple method
res = []
for i in range(0,len(A)):
  if A[i] == B[i]:
    res.append(True)
  else:
    res.append(False)

res

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
## Using Map function

list(map(lambda x,y: x==y, A,B))

[False, True, False, True, False, True, False, False, True, False, True, False]

## Filter

In [ ]:
a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## Simple method

res = []

for items in a:
  if items % 2 == 0:
    res.append(items)

res

[2, 4, 6, 8, 10]

In [ ]:
#Using filter function

list(filter(lambda x: x%2 == 0, a))

[2, 4, 6, 8, 10]

In [ ]:
# How to get a list of odd numbers

a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(filter(lambda x: x%2 != 0, a))

[1, 3, 5, 7, 9]

## Zip

In [ ]:
a = ['a','b','c']
b = [1,2,3]

list(zip(a,b))

[('a', 1), ('b', 2), ('c', 3)]

##### What if they are not of the same length?

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]

In [ ]:
list(zip(a,b,c))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
# Zip always return in tuples

In [ ]:
list(zip(b,a,c))

[('a', 1, 'x'), ('b', 2, 'y'), ('c', 3, 'z')]

In [ ]:
tuple(zip(b,a,c))

(('a', 1, 'x'), ('b', 2, 'y'), ('c', 3, 'z'))

In [ ]:
# Can I do zipping only for list? No

In [ ]:
a = (1,2,3)
b = ("a", "b", "c", "d", "e")
c = ("x", "y", "z", "m", "n")

In [ ]:
tuple(zip(a,b,c))

((1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z'))

In [ ]:
a = [1,2,3]
b = ("a", "b", "c", "d", "e")
c = {"x", "y", "z", "m", "n"}

In [ ]:
list(zip(a,b,c))

[(1, 'a', 'm'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
list(zip(b,b))

[('a', 'a'), ('b', 'b'), ('c', 'c'), ('d', 'd'), ('e', 'e')]

In [ ]:
store_sales = [1234,4356]

customer_data = ['A','B']

list(zip(store_sales, customer_data))

[(1234, 'A'), (4356, 'B')]

In [ ]:
# Can we have a dictionary to list/tuple zipping?

a = {'a': 1, 'b': 3}
c = [1,2]

list(zip(a,c))

[('a', 1), ('b', 2)]

In [ ]:
list(zip(a.values(),c))

[(1, 1), (3, 2)]

## Reduce

In [ ]:
from functools import reduce

In [ ]:
a = [1.4,2,3,4,5]


reduce(lambda x,y: x + y, a)

15.4

In [ ]:
# I didn't type this to anything. WHY?
#- Output is one single number. Hence typecast is not required.

In [ ]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b = list(reversed(a))
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# What will be the output?
print(reduce(lambda x,y: x*y, a) == reduce(lambda x,y: x*y, b))

True

In [ ]:
reduce(lambda x,y: x*y, a)

3628800

In [ ]:
reduce(lambda x,y: x*y, b)

3628800

In [ ]:
# Gives the element with maximum value from a given list of elements.

a = [1,3,5,12,6,8]

In [ ]:
reduce(lambda x, y: x if x>y else y, a)

12

In [ ]:
# Gives the element with minimum value from a given list of elements.
reduce(lambda x, y: x if x<y else y, a)

1

In [ ]:
a = [1,2,3,4,5]


reduce(lambda x,y: x * y, a, 100) #an initial value 100.

12000

In [ ]:
#Given the lists a = [1, 2, 3] and b = ["a", "b"], what will be the result of list(zip(a,b))?

a = [1,2,3]
b = ['a','b']

list(zip(a,b))

[(1, 'a'), (2, 'b')]

## Args and Kwargs

In [ ]:
def sum_all(x,y):

  sum = 0
  sum = x + y

  return sum

In [ ]:
sum_all(10,10,1,2,3,4,5)

TypeError: sum_all() takes 2 positional arguments but 7 were given

In [ ]:
def sum_all(x,y, *args):

  result = x + y

  if args:
    result = result + sum(args)

  return result

In [ ]:
sum_all(10,10,1,2,3)

26

In [ ]:
def investigate_sum_all(x,y, *args):
  print(x,y,args)

In [ ]:
investigate_sum_all(10,10,1,2,3)

10 10 (1, 2, 3)

In [ ]:
sum((1,2,3))

6

**kwargs

In [ ]:
def create_person(name, age, gender,**kwargs):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    if kwargs:
      Person.update(kwargs)

    return Person

In [ ]:
create_person(name = "Thor", age = 1500, gender = "Male", hobby="saving the world", god=True )

{'name': 'Thor',
 'age': 1500,
 'gender': 'Male',
 'hobby': 'saving the world',
 'god': True}

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(y)
    print(args)
    print(kwargs)

In [ ]:
random(1,2,32,43,54,56,m=1,b=5,76,67)

SyntaxError: positional argument follows keyword argument (<ipython-input-106-cca4a08690aa>, line 1)

In [ ]:
# positional -> args -> kwargs

In [ ]:
random(2,1,2,3,u=1)

2
1
(2, 3)
{'u': 1}

In [ ]:
(+) name: 'Ani'
(+) gender: "male"

In [ ]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs


sample_func(, a=1)

(1, 2, (), {'a': 5, 'b': 6})

In [ ]:
items = ["Book", "Pen", "Notebook", "Backpack", "Pencil"]
sales = [150, 20, 90, 200, 10]
costs = [100, 10, 50, 150, 5]
threshold = 50

In [ ]:
from functools import reduce

def analyze_sales_data(items, sales, costs, threshold):
    # complete the function

    #Combining all the data: items, sales, cost
    combined_data = zip(items, sales, costs)

    # Use filter to select items with sales greater than the threshold
    filtered_data = filter(lambda x : x[1] > threshold, combined_data)

    # Use map to calculate net profit for each item
    net_profit_data = map(lambda x: (x[0], x[1] - x[2]), filtered_data)

    item_profit_pairs = list(net_profit_data)

    # # total net profit calculation using reduce
    total_net_profit = reduce(lambda acc, curr: acc + curr[1], item_profit_pairs, 0)

    return item_profit_pairs, total_net_profit

In [ ]:
analyze_sales_data(items, sales, costs, threshold)

([('Book', 50), ('Notebook', 40), ('Backpack', 50)], 140)

In [ ]:
a = [('Book', 50), ('Notebook', 40), ('Backpack', 50)]


reduce(lambda x:y: x[])



sum = 0
sum += value